#grafico{
max-width: 80rem;
height: auto;
    
}
.container-graf{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    
}
#formulario{
    height: 50px;
}
#inputPais{
    height: 30px;
    border-radius: 30px;
    border: solid #5aa9ad;
}
#tipo{
    height: 35px;
    border: solid #5aa9ad;
    border-radius: 30px;
}
#boton{
    height: 35px;
    width: 80px;
    border-radius: 30px;
    background-color: #7ac0e5;
    border: solid #7ac0e5; ;
}